.App {
  text-align: center;
}

.section-title {
  position: relative;
}

.title-underline {
  width: 150px; /* Adjust this value to change the length of the line */
  height: 2px; /* Height of the line */
  background-color: #929292d0; /* Color of the line */
  margin-top: 15px; /* Adjust this value to change the distance between the title and the line */
}

.title-underline ::hover {
  width: 250px; /* Adjust this value to change the length of the line */
  height: 2px; /* Height of the line */
  background-color: #ff000049; /* Color of the line */
  margin-top: 5px; /* Adjust this value to change the distance between the title and the line */
}
